@charset "UTF-8";

/* For mobile phones: */
[class*="main"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  main {width: 100%;}
}
@media only screen and (min-width: 768px) {
	/* For desktop: */
	main {width: 100%;}
  }

body 
.header {
	grid-column: 1/6;
	text-align: center;
	color: #ffffff;
	margin-top: 10px;
	background-color: #33b5e5;

h1 {
	position: relative;
	animation-timing-function: linear;
	animation: mymove 7s infinite;
	animation-direction: alternate-reverse;
	}
