@charset "UTF-8";

/* For mobile phones: */
[class*="main"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  main {width: 100%;}
}
@media only screen and (min-width: 768px) {
	/* For desktop: */
	main {width: 100%;}
  }

body 
.header {
	grid-column: 1/6;
	text-align: center;
	color: #ffffff;
	margin-top: 10px;
	background-color: #33b5e5;

h1 {
	position: relative;
	animation-timing-function: linear;
	animation: mymove 7s infinite;
	animation-direction: alternate-reverse;
	}
	
@keyframes mymove {
	from {right: 0px;}
	to {right: 75px;}
  }

.meny_topp{
	grid-column: 1/6;
	grid-row: 1/6;
	text-align: left;
	font-size: 14px;
}

	.meny_venstre{
	grid-column: 1/2;
	font-size: 14px;
	text-align: left;
	text-indent: 20px;
	font-weight: bold;
	grid-column-gap: 15px; /* mellomrom mellom gridsene horisontalt*/
}
